{% extends 'base.html' %}

{% block title %}Notess{% endblock %}

{% block content %}
    <h1>Welcome to {{user.username}}'s profile</h1>
    <br>
      {% if notebook %}
      <h2>Notebook : {{notebook}}</h2>
      {% if notes %}
        {% for item in notes %}
        <ol>
        <li>
            <a href="/notes/{{item.pk}}">{{item.title}}</a>
            </li>
        </ol>
        {% endfor %}
      {% else %}
          <p>This notebook has no notes</p>
      {% endif %}
      {% else %}
      <p>{{user.username}} has no public notebook</p>
      {% endif %}
    <a href="/">Go back to home</a>
{% endblock %}
