{% extends 'base.html' %}

{% block title %}Notebooks{% endblock %}

{% block content %}
<h1>Welcome {{user.username}}, here are your notebooks</h1><br>
    <ol>
      {% for notebook in notebooks %}
      <li>
        <a href="/notebooks/{{notebook.pk}}">{{notebook.name}}</a>
        <a href="/edit-notebook/{{notebook.pk}}"><button style="margin: 0px 10px">✏️</button></a>
        <a href="/delete-notebook/{{notebook.pk}}"><button style="margin: 0px -9px">🗑️</button></a>
      </li>

      {% endfor %}
    </ol>

    {% if not notebooks %}
    <p>You have no notebooks</p>
    {% endif %}
        <a href="/logout">Logout</a><br>
    <a href="/create-notebook">Create a new notebook</a>
{% endblock %}
